.u-section-1 .u-sheet-1 {
  min-height: 196px;
}

.u-section-1 .u-table-1 {
  margin: 1px 0 1px auto;
}

.u-block-1aa2-10 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-block-1aa2-22 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 440px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 2px;
  }
}.u-section-2 {
  background-image: url("../../assets/image/about/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  margin: 308px auto 0 433px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 68px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 357px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 191px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  width: 680px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  font-size: 1.5rem;
  line-height: 1.8;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none double;
  font-size: 1.5rem;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
    width: auto;
  }
}

