RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php
#Dash Route
RewriteRule ^cms-dashboard/users/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/users/edit.php?id_user=$1
RewriteRule ^cms-dashboard/transaksi ./cms-dashboard/pages/transaksi/index.php
RewriteRule ^cms-dashboard/peternak ./cms-dashboard/pages/peternak/index.php
RewriteRule ^cms-dashboard/artikel/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/artikel/edit-artikel.php?id_artikel=$1
RewriteRule ^cms-dashboard/kategori/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/artikel/edit-kategori.php?id_kategori=$1
RewriteRule ^cms-dashboard/about/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/cms/about-us.php?id_about=$1
RewriteRule ^cms-dashboard/carousel/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/cms/carousel.php?id_carousel=$1
RewriteRule ^cms-dashboard/provinsi/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/lokasi/edit-provinsi.php?id_provinsi=$1
RewriteRule ^cms-dashboard/kota/edit/([0-9a-zA-Z]+) ./cms-dashboard/pages/lokasi/edit-kota.php?id_kota=$1


#FrontEnd Route
RewriteRule ^daftar ./pages/daftar/index.php
RewriteRule ^login ./pages/login/index.php
RewriteRule ^keluar ./config/keluar.php
RewriteRule ^artikel ./pages/artikel/index.php
RewriteRule ^a/(.+) ./pages/artikel/detail-artikel.php?slug=$1
RewriteRule ^profile ./pages/profile/index.php

php_value date.timezone Asia/Jakarta