.carousel-height{
	height: 85vh;
}
.carousel-control-next, .carousel-control-prev{
  width:25px !important;
}
.carousel-control-next-icon{
  position: absolute;
  right: 30px;
}
.carousel-control-prev-icon{
  position: absolute;
  left: 30px;
}
.desc{
  left: 15%;
  top: 39%;
  transform: translate(-10%,-40%);
}
.info-panel{
	box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1) !important;
	border-radius:12px;
	margin-top:-120px;
	background-color: white;
}
@media(max-width: 768px){
	.info-panel{
		margin-top:0px;
	}
	.carousel-height{
		height: auto;
	}
}
.col-custom-card{
	padding: 0 5px !important;
}
.info-card::after{
	content: '';
	clear: both;
	display: block;
}
.card{
	border: none !important;
}
.card:hover{
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
    z-index: 10;
}
.card:hover .card-body-hidden{
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
    z-index: 10;
}
.card-body-hidden{
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -.875rem;
    transition: all 0.15s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}
.card:hover .card-body-hidden{
	opacity: 1;
	visibility: visible;
}
.custom-card{
	width: 100%;
	height: 100%;
	background-color: rgba(85, 239, 196,0.1);
	position: absolute;
	border-radius: .25rem;
	overflow: hidden;
}
.custom-card:hover .card-title-custom{
	transition:all .1s linear;
	bottom:0;
}
.card-title-custom{
	transition: all .3s linear;
	position: absolute;
	bottom: -60px;
	width: 100%;
	padding:10px;
	background: rgba(0, 184, 148,1.0);
	color: #ffff;
	font-family: sans-serif;
}
.blog-info-container{
	padding: 50px;
	background: rgba(116, 185, 255,0.3);
}
.blog-info-container h1{
	color: rgba(9, 132, 227,1.0);
}
ul{
	list-style-type: none;
}
.checked {
	color: orange;
}
.head-about{
	background-image: url('../../assets/image/about/1.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
}
.bg-shadow{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 99;
}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html , h1 , h2 h3 , h4 , h5 , h6{
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html , h1 , h2 h3 , h4 , h5 , h6{
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html ,h1 , h2 h3 , h4 , h5 , h6{
    font-size: 1.6rem;
  }
}